#parse("/velocity/layout.vm")
#@mainLayout()
    <h1>$msg.get("GAMES_HEADING_ALL")</h1>
    <div class="row row-3">
        #foreach($game in $games)
            <div class="col">
                #if($game.title=="BlackJack")
                <a class="book" href="http://localhost:7000/blackjack">
                #elseif($game.title=="Slots")
                <a class="book" href="http://localhost:7000/slots">
                #elseif($game.title=="Higher Or Lower")
                <a class="book" href="http://localhost:7000/higherorlower">
                #elseif($game.title=="Tic Tac Toe")
                <a class="book" href="http://localhost:7000/tictactoe">
                #elseif($game.title=="Baccarat")
                <a class="book" href="http://localhost:7000/baccarat">
                #else
                    <a class="book" href="/games/$game.isbn"></a>
                #end
                <div class="bookCover">
                    <img src="/game_thumbnails/$game.mediumCover" alt="$game.title">
                </div>
                <a $msg.get("GAMES_CAPTION", $game.title, $game.author) ></a>
            </div>
        #end
    </div>
#end