#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($book in $books)
        <div class="col">
            #if($book.title=="BlackJack")
            <a class="book" href="http://localhost:7000/blackjack">
            #elseif($book.title=="Slots")
            <a class="book" href="http://localhost:7000/slots">
            #else
            <a class="book" href="/books/$book.isbn"></a>
            #end
            <div class="bookCover">
                <img src="$book.mediumCover" alt="$book.title">
            </div>
            <a $msg.get("BOOKS_CAPTION", $book.title, $book.author) ></a>
        </div>
    #end
</div>
#end
