#parse("/velocity/layout.vm")
#@mainLayout()
    #if($blackjack.RoundEnd)
        #foreach ($card in $blackjack.dealerDeck.deckOfCards)
        <p><img id="card" src="/card_images/${card}.png"></p>
        #end
    <p>Dealer deck value: $blackjack.valueDealer</p><br><br>
        #foreach ($card in $blackjack.PlayerDeck.deckOfCards)
        <p><img id="card" src="/card_images/${card}.png"></p>
        #end
    <p>Your deck value: $blackjack.ValuePlayer</p><br><br>
    <form method="post">
        <input type="submit" name="Reset" value="Reset">
    </form>
    #else
    <img id="card" src="/card_images/$blackjack.DealerOne">
    <p>Dealer deck value: $blackjack.dealerFirst</p><br><br>
        #foreach ($card in $blackjack.PlayerDeck.deckOfCards)
        <p><img id="card" src="/card_images/${card}.png"></p>
        #end
    <p>Your deck value: $blackjack.ValuePlayer</p><br><br>
    <form method="post">
        <input type="submit" name="Hit" value="Hit">
        <input type="submit" name="Stand" value="Stand">
    </form>
    #end
#end
